<div ng-include src="'layouts/header.html'"></div>
<div class="main-block">
    <div class="container">
        <div class="col-lg-12">
            <div class="request">
                <div class="title"><i class="fa fa-info-circle" aria-hidden="true"></i>Atsakykite į kelis klausimus, jie padės surasti Jums Buhalterines paslaugas</div>
                <div class="block">
                    <div class="progress-line">
                        <div class="filled filled-4"></div>
                    </div>
                    <div class="question">
                        Kaip su Jumis susisiekti?
                    </div>
                    <form name="userForm" novalidate>
                    <div class="form-elements">
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Jūsų el. paštas" ng-model="formData3.email" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Jūsų telefono numeris" ng-model="formData3.number" required/>
                        </div>
                    </div>
                    <div class="submit">
                        <button ng-click="lead();" ng-disabled="userForm.email.$invalid">Gauk geriausią pasiūlymą<i class="fa fa-caret-right" aria-hidden="true"></i></button>
                        <div class="back-step">
                            <a ng-click="atgal2();">Atgal</a>
                        </div>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'layouts/footer.html'"></div>
